@{
    ViewData["Title"] = "Home Page";
}


<center style="font-size:60px">
    Please
    <a style="text-decoration:underline; color:black" asp-area="Identity" asp-page="/Account/Login">login</a>
    to Proceed
</center>