
@{
    ViewData["Title"] = "SessionHistory";
}

<link rel="stylesheet" type="text/css" href="~/css/sessionhistory.css" />
<link rel="stylesheet" type="text/css" href="~/css/table.css" />


<style>
    html, body {
        font-family: arial;
    }
</style>

<div id="insertHere">

    <div class="container">
        <h1>SessionHistory</h1>

        <input type="text" id="input-inline" />
        <button onclick="GetSessions()">Get Sessions</button>
        <br><br>
        <div id="pick-inline"></div>
    </div>

</div>

@*<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>*@

@section scripts{
    <script src="~/js/Table.js"></script>
    <script src="~/js/sessionhistory.js"></script>
    <script>
        window.addEventListener("load", function () {
            // container + target input
            picker.attach("pick-inline", "input-inline");
        });

        function GetSessions() {
            console.log("test");
            let date = document.getElementById('input-inline').value;
            console.log(date);
            $.ajax({
                url: "DisplaySessions",
                type: "GET",
                data: {
                    date: date
                },
                success: function (response) {
                    document.getElementById("insertHere").innerHTML = response;
                     $('#myTable').DataTable();
                }
            })
        }
    </script>
}